<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :first_line %><br>
    <%= f.text_area :first_line %>
  </div>
  <div class="field">
    <%= f.label :last_line %><br>
    <%= f.text_area :last_line %>
  </div>
  <div class="field">
    <%= f.label :incorrect_one %><br>
    <%= f.text_field :incorrect_one %>
  </div>
  <div class="field">
    <%= f.label :incorrect_two %><br>
    <%= f.text_field :incorrect_two %>
  </div>
  <div class="field">
    <%= f.label :incorrect_three %><br>
    <%= f.text_field :incorrect_three %>
  </div>
  <div class="field">
    <%= f.label :correct_answer %><br>
    <%= f.text_field :correct_answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
