<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <% if current_user.is_admin %>
    <h1 class="display-4">All Questions</h1>
  <% else %>
    <h1 class="display-4">My Questions</h1>
  <% end %>
  <br>
  <%= link_to 'New Question', new_question_path, class: "btn btn-primary btn-lg text-uppercase" %>

  <p>&nbsp;</p>

  <% if @questions == [] %>
    <p>You haven't created any questions yet! Click <%= link_to 'here', new_question_path %> to start on a new one.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Question</th>
          <th>Wrong Answers</th>
          <th>Correct Answer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.category %></td>
            <td><%= question.first_line %><br />
              <%= question.last_line %></td>
            <td><%= question.incorrect_one %><br />
              <%= question.incorrect_two %><br />
              <%= question.incorrect_three %></td>
            <td><%= question.correct_answer %></td>
            <td><p class="text-xs-center"><%= link_to 'Edit', edit_question_path(question), class: "btn btn-lg btn-secondary" %></p>
              <p class="text-xs-center"><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger" %></p></td>
          </tr>
        <% end %>
    </table>
  <% end %>

  <p id="notice"><%= notice %></p>
</div>
