<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>First line</th>
      <th>Last line</th>
      <th>Incorrect one</th>
      <th>Incorrect two</th>
      <th>Incorrect three</th>
      <th>Correct answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.category %></td>
        <td><%= question.first_line %></td>
        <td><%= question.last_line %></td>
        <td><%= question.incorrect_one %></td>
        <td><%= question.incorrect_two %></td>
        <td><%= question.incorrect_three %></td>
        <td><%= question.correct_answer %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>

<p><a href="/questions.json">JSON</a></p>

<%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
