<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4"><%= @question.category %> Question</h1>
  <p>&nbsp;</p>

  <table class="table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Incorrect Answers</th>
        <th>Correct Answer</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td><%= @question.first_line %><br>
            <%= @question.last_line %>&nbsp;</td>
          <td><%= @question.incorrect_one %><br>
            <%= @question.incorrect_two %><br>
            <%= @question.incorrect_three %></td>
          <td><%= @question.correct_answer %></td>
          <td class="text-xs-center"><%= link_to 'Edit', edit_question_path(@question), class: "btn btn-secondary" %></td>
        </tr>
      </tbody>
  </table>

  <p><%= link_to 'My Questions', questions_path, class: "btn btn-lg btn-primary" %></p>

  <p id="notice"><%= notice %></p>
</div>