<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Hi <%= @user[:first_name] %></h1>

  <p>Congratulations! Your <strong><%= @user[:winning_team] %></strong> defeated the <strong><%= @user[:losing_team] %></strong> in today's game, with a final score of <strong><%= @user[:winning_score] %></strong> - <strong><%= @user[:losing_score] %></strong></p>

  <p>To reward you on your win, we have a special prize for you! Click the link below to redeem your trophy. If the link does not work, copy and paste it into your browser window.</p>

  <p><a href="https://google.com">https://google.com</a></p>

</body>
</html>