<div class="container-fluid">
  <h1 class="display-4 text-xs-center text-uppercase">Welcome!</h1>
  <p>&nbsp;</p>

  <% if user_signed_in? %>

    <% if current_user.is_admin %>
      <p class="text-xs-center"><%= link_to "All Questions", questions_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
      <p class="text-xs-center"><%= link_to "All Teachers", teachers_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
      <p class="text-xs-center"><%= link_to "All Games", games_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
    <% end %>

    <% if current_user.is_teacher && !current_user.is_admin %>
      <p class="text-xs-center"><%= link_to "My Questions", questions_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
      <p class="text-xs-center"><%= link_to "My Profile", teacher_path(current_user.id), class: "btn btn-primary btn-lg text-uppercase" %></p>
    <% end %>

    <p class="text-xs-center"><%= link_to "My Games", games_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
    <p class="text-xs-center"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg text-uppercase" %></p>

  <% else %>
    <p class="text-xs-center"><%= link_to "Sign in", new_user_session_path, method: :get, class: "btn btn-primary btn-lg text-uppercase" %></p>
  <% end %>
</div>

<p id="notice"><%= notice %></p>
