<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <h1>User Profile</h1>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Favorite Team</th>
        <th>Record</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @user.first_name %> <%= @user.last_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.favorite_team %></td>
        <td><%= @user.game_wins %> - <%= @user.game_losses %></td>
      </tr>
      </tbody>
    </table>

    <p>&nbsp;</p>

    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>

  </div>
</div>
