<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label :subject %><br>
          <%= f.text_field :subject, class: 'form-control' %>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label 'Teacher' %><br>
          <select name="classroom[user_id]" id="classroom_user_id" class="form-control">
            <% @teachers.each do |t| %>
                <% if @classroom.user_id == t.id %>
                    <option value="<%= t.id %>" selected><%= t.first_name %> <%= t.last_name %></option>
                <% else %>
                    <%= content_tag(:option, t.first_name + ' ' + t.last_name, value: t.id) %>
                <% end %>
            <% end %>
          </select>
        </fieldset>
      </div>
    </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
