<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <p id="notice"><%= notice %></p>

    <h1>Classrooms</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <% if @user.role == 2 %>
              <th>Teacher</th>
          <% end %>
          <th>Classroom Options</th>
          <% if @user.role == 2 %>
            <th>Admin Options</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% i = -1 %>
        <% @classrooms.each do |classroom| %>
          <% i += 1 %>
          <tr>
            <td><%= classroom.name %></td>
            <td><%= classroom.subject %></td>
            <% if @user.role == 2 %>
              <td><%= @teachers[i].first_name %> <%= @teachers[i].last_name %></td>
            <% end %>
            <td><p><%= link_to 'Students', classroom_users_class_path(classroom.id), class: 'btn btn-success' %></p>
              <p><%= link_to 'Questions', classroom_questions_path(classroom), class: 'btn btn-success' %></p></td>

            <% if @user.role == 2 %>
              <td><p><%= link_to 'Edit', edit_classroom_path(classroom), class: 'btn btn-warning' %></p>
                <p><%= link_to 'Delete', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if @user.role == 2 %>
      <%= link_to 'New Classroom', new_classroom_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
