<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <p id="notice"><%= notice %></p>

    <h1>Classrooms</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <th colspan="2">Class</th>
          <th colspan="2">Admin</th>
        </tr>
      </thead>

      <tbody>
        <% @classrooms.each do |classroom| %>
          <tr>
            <td><%= classroom.name %></td>
            <td><%= classroom.subject %></td>
            <td><%= link_to 'Students', classroom, class: 'btn btn-primary' %></td>
            <td><%= link_to 'Questions', questions_path, class: 'btn btn-success' %></td>
            <td><%= link_to 'Edit', edit_classroom_path(classroom), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Delete', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Classroom', new_classroom_path, class: 'btn btn-primary' %>
  </div>
</div>
