<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <h1><%= @classroom.name %></h1>

    <p id="notice"><%= notice %></p>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Admin Options</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Student Name</td>
        <td>student@email.com</td>
        <td><%= link_to 'Remove', '#', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tbody>
    </table>

    <p><%= link_to 'Add Student', '#', class: 'btn btn-primary' %></p>
    <p><%= link_to 'Back', classrooms_path, class: 'btn btn-danger' %></p>
  </div>
</div>
