<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <p id="notice"><%= notice %></p>

    <h1><%= @classroom.name %></h1>

    <table class="table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Email</th>
          <th>Admin Options</th>
        </tr>
      </thead>

      <tbody>
      <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %> <%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><a href="/classroom_users/<%= student.classroom_id %>" data-method="delete" data-confirm="Are you sure?" class="btn btn-danger">Remove</a></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <div class="row">
      <div class="col-sm-6">
        <h2>Add Student</h2>

        <%= form_for :classroom_users, url: classroom_users_add_path(@classroom) do |f| %>
            <%= f.hidden_field :classroom_id, value: @classroom.id %>
            <fieldset class="form-group">
              <select name="classroom_users[user_id]" id="classroom_users_user_id" class="form-control">
                <% @all_students.each do |student| %>
                    <%= content_tag(:option, student.first_name + ' ' + student.last_name, value: student.id) %>
                <% end %>
              </select>
            </fieldset>

            <div class="actions">
              <%= f.submit 'Add to Class', class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
            </div>
        <% end %>

        <%= link_to 'Classrooms', classrooms_path, class: 'chalk_link' %>
      </div>
    </div>

  </div>
</div>
