<p id="notice"><%= notice %></p>

<h1>Listing Classroom Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classroom_users.each do |classroom_user| %>
      <tr>
        <td><%= link_to 'Show', classroom_user %></td>
        <td><%= link_to 'Edit', edit_classroom_user_path(classroom_user) %></td>
        <td><%= link_to 'Destroy', classroom_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom user', new_classroom_user_path %>
