<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @student.name_first %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @student.name_last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Favorite team:</strong>
  <%= @student.favorite_team %>
</p>

<p>
  <strong>Game wins:</strong>
  <%= @student.game_wins %>
</p>

<p>
  <strong>Game losses:</strong>
  <%= @student.game_losses %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
