<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4">All Teachers</h1>

  <p>&nbsp;</p>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
        <th>Location</th>
        <th>Classroom</th>
        <th>Room #</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.name_prefix %> <%= teacher.name_first %> <%= teacher.name_last %></td>
          <td><%= teacher.school_name %></td>
          <td><%= teacher.school_location %><br>
            <%= teacher.school_city %> <%= teacher.school_state %></td>
          <td><%= teacher.classroom_name %></td>
          <td><%= teacher.classroom_location %></td>
          <td><%= teacher.classroom_description %></td>
          <td><p><%= link_to 'Edit', edit_teacher_path(teacher), class: "btn btn-secondary" %></p>
          <% if current_user.is_admin %>
            <p><%= link_to 'Delete', teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p id="notice"><%= notice %></p>
</div>
