<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4"><%= @teacher.name_prefix %> <%= @teacher.name_first %> <%= @teacher.name_last %></h1>

  <p>&nbsp;</p>

  <table class="table">
    <thead>
      <tr>
        <th>School</th>
        <th>Classroom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><strong><%= @teacher.school_name %></strong></p>
          <p><%= @teacher.school_location %><br>
            <%= @teacher.school_city %>, <%= @teacher.school_state %></p>
        </td>
        <td>
          <p><strong>Classroom Location:</strong> <%= @teacher.classroom_location %></p>
          <p><%= @teacher.classroom_name %><br>
            <%= @teacher.classroom_description %></p>
        </td>
        <td>
          <p class="text-xs-center"><%= link_to 'Edit Profile', edit_teacher_path(@teacher), class: "btn btn-lg btn-primary" %></p>
        </td>
      </tr>
    </tbody>
  </table>

  <p id="notice"><%= notice %></p>
</div>