<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4"><%= @teacher.name_prefix %> <%= @teacher.name_last %></h1>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col col-sm-4">
      <h4><%= @teacher.name_prefix %> <%= @teacher.name_first %> <%= @teacher.name_last %></h4>
    </div>
    <div class="col col-sm-4">
      <h2>School</h2>
      <p><%= @teacher.school_name %></p>
      <p><%= @teacher.school_location %><br>
        <%= @teacher.school_city %>, <%= @teacher.school_state %></p>
    </div>
    <div class="col col-sm-4">
      <h2>Classroom</h2>
      <p><%= @teacher.classroom_name %><br>
        <%= @teacher.classroom_description %></p>
      <p><strong>Classroom Location:</strong> <%= @teacher.classroom_location %></p>
    </div>
  </div>

  <p><%= link_to 'Edit Teacher', edit_teacher_path(@teacher), class: "btn btn-lg btn-primary" %></p>
  <p><%= link_to 'Back', teachers_path, class: "btn btn-danger" %></p>

  <p id="notice"><%= notice %></p>
</div>