<%= render 'layouts/header_main' %>

<div class="content_column content_overlay">
  <div class="container-fluid">
    <h1>Sign In</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </fieldset>

      <% if devise_mapping.rememberable? -%>
        <div class="field checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember Me
          </label>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary btn-lg text-uppercase" %>
      </div>
    <% end %>

  </div>
</div>