<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <fieldset class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset class="form-group">
        <%= f.label :mascot %><br>
        <%= f.text_field :mascot, class: "form-control" %>
      </fieldset>
    </div>
  </div>


    <div class="row">
      <div class="col-sm-12">
        <fieldset class="form-group">
          <%= f.label :address %><br>
          <%= f.text_field :address, class: "form-control" %>
        </fieldset>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label :city %><br>
          <%= f.text_field :city, class: "form-control" %>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label :state %><br>
          <%= f.text_field :state, class: "form-control" %>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <fieldset class="form-group">
          <%= f.label :zip %><br>
          <%= f.text_field :zip, class: "form-control" %>
        </fieldset>
      </div>
    </div>

    <p>&nbsp;</p>

    <div class="actions">
      <%= f.submit 'Update School', class: "btn btn-primary" %>
    </div>

    <%= link_to 'Cancel', schools_path, class: 'chalk_link' %>
<% end %>
