<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <p id="notice"><%= notice %></p>

    <h1>School Profile</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Mascot</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @schools.name %></td>
            <td><%= @schools.address %></td>
            <td><%= @schools.city %></td>
            <td><%= @schools.state %></td>
            <td><%= @schools.zip %></td>
            <td><%= @schools.mascot %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to 'Edit', edit_school_path(@schools), class: "btn btn-primary" %>

  </div>
</div>
