<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <p id="notice"><%= notice %></p>

    <h1>Create New User</h1>

    <%= form_for(@new_user, url: '/schools/new_user') do |f| %>
        <% if @new_user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @new_user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

      <div class="row">
        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, class: 'form-control' %>
          </fieldset>
        </div>

        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: 'form-control' %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: 'form-control' %>
          </fieldset>
        </div>

        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :role, 'Permissions' %>
            <select name="user[role]" id="user_role" class="form-control">
              <option value="0">Student</option>
              <option value="1">Teacher</option>
            </select>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          </fieldset>
        </div>

        <div class="col-sm-6">
          <fieldset class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
          </fieldset>
        </div>
      </div>

        <p>&nbsp;</p>

        <div class="actions">
          <%= f.submit 'Create User', class: 'btn btn-primary' %>
        </div>
    <% end %>

    <%= link_to 'Cancel', schools_path, class: 'chalk_link' %>

  </div>
</div>