<%= render 'layouts/header_main' %>

<div class="content_column content_overlay">
  <div class="container-fluid">

    <h1>Edit School Info</h1>

    <p id="notice"><%= notice %></p>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Mascot</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @school.name %></td>
        <td><%= @school.address %></td>
        <td><%= @school.city %></td>
        <td><%= @school.state %></td>
        <td><%= @school.zip %></td>
        <td><%= @school.mascot %></td>
      </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_school_path(@school), class: "btn btn-primary" %> &nbsp; <%= link_to 'Back', schools_path, class: "btn btn-danger" %>
  </div>
</div>
