<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <p id="notice"><%= notice %></p>

    <h1>Students</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %> <%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><%= link_to 'Edit', '#', class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', '#', class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <p>&nbsp;</p>

    <p><%= link_to 'New Student', '#', class: 'btn btn-primary' %></p>

    <p><%= link_to 'Back', schools_path, class: 'btn btn-danger' %></p>

  </div>
</div>
