<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <p id="notice"><%= notice %></p>

    <h1>Teachers</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.first_name %> <%= teacher.last_name %></td>
            <td><%= teacher.email %></td>
            <td><%= link_to 'Edit', school_edit_user_path(teacher.id), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', school_delete_user_path(teacher.id), class: 'btn btn-danger', method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <p>&nbsp;</p>

    <div class="row">
      <div class="col-sm-3">
        <%= link_to 'New Teacher', school_new_user_path, class: 'btn btn-primary' %>
      </div>

      <div class="col-sm-3">
        <%= link_to 'Back', schools_path, class: 'btn btn-danger' %>
      </div>
    </div>

  </div>
</div>
