<div class="col-md-2">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle text-uppercase" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
    <div class="dropdown-menu">

      <% if user_signed_in? %>
        <% if current_user.is_admin %>
          <%= link_to "All Questions", questions_path, class: "dropdown-item" %>
          <%= link_to "All Teachers", teachers_path, class: "dropdown-item" %>
        <% end %>

        <% if current_user.is_teacher && !current_user.is_admin %>
          <%= link_to "My Questions", questions_path, class: "dropdown-item" %>
        <% end %>

        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

      <% else %>
        <%= link_to "Sign in", new_user_session_path, method: :get, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>
